/** VARIABLES **/
:root {
    --blanco: #FFFFFF;
    --azul: #132D46;
    --verde: #01C383;
    --grisoscuro: #272626;
    --gris: #929497;
}

/** CONTENIDO **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--grisoscuro);
}

header {
    background-color: var(--azul);
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.barra a {
    text-decoration: none;
    color: var(--blanco);
    margin: 0 1rem;
}

.barra img.logo {
    height: 40px;
    margin-right: 2rem;
}

.navegacion {
    display: flex;
    gap: 1rem;
}

.navegacion:hover {
    color: var(--verde);
}
.barra a.subrayado-verde {
    position: relative;
}

.barra a.subrayado-verde::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--verde); /* Cambia el color del subrayado según tu preferencia */
}

/** MAIN **/
main {
    flex: 1;
    padding: 2rem;
    padding-bottom: 5rem; /* Espacio para el footer */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem; /* Ajustado para ser responsive */
}

.contenedorfacturacion  {
    background-color: var(--azul);
    border-radius: 30px;
}

.montserrattitulo {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 2rem;
}

table {
    border: 4px solid #01C383; /* Cambiamos el tipo de borde y el color */
    margin: auto;
    background-color: #132D46;
    border-collapse: collapse;
    width: 80%; /* Aumentamos el ancho de la tabla */
    border-radius: 20px; /* Agregamos bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
}

th, td {
    text-align: center;
    border: 2px solid #01C383; /* Cambiamos el tipo de borde y el color */
    padding: 2rem; /* Aumentamos el espacio interno */
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem; /* Reducimos un poco el tamaño del texto */
}

thead {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem; /* Reducimos un poco el tamaño del texto */
}
/** FOOTER **/
footer {
    background-color: var(--azul);
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #929497;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

footer .copyright {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #929497;
}

/** MEDIA QUERIES **/
@media (max-width: 1200px) {
    main {
        margin: 1rem;
        padding: 1rem;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 0.5rem;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .barra {
        flex-direction: column;
    }

    .navegacion {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 1rem;
        margin: 1rem;
    }

    .montserrattitulo {
        font-size: 2rem;
    }

    th, td {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;
    }

    .barra a {
        margin: 0 0.5rem;
    }

    .barra img.logo {
        height: 30px;
        margin-right: 1rem;
    }

    .navegacion {
        gap: 0.5rem;
    }

    main {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .montserrattitulo {
        font-size: 1.5rem;
    }

    th, td {
        font-size: 0.75rem;
        padding: 0.5rem;
    }
}
